c This table represents how propositions correspond to numbers
c    p[1] = 1, p[2] = 2, 

c    break = 3

c    b[1][1][4] = 4 b[1][1][3] = 5 b[1][1][2] = 6 b[1][1][1] = 7 b[1][1][0] = 8 
c    b[1][2][4] = 9 b[1][2][3] = 10 b[1][2][2] = 11 b[1][2][1] = 12 b[1][2][0] = 13 
c    b[1][3][4] = 14 b[1][3][3] = 15 b[1][3][2] = 16 b[1][3][1] = 17 b[1][3][0] = 18 

p cnf 18 108


c Automaton should not be broken 
c    -break 
-3 0

c INIT for k = 1
c    -b^{1, 1}_4
c    -b^{1, 1}_3
c    -b^{1, 1}_2
c    -b^{1, 1}_1
c    -b^{1, 1}_0
c  in DIMACS:
-4 0
-5 0
-6 0
-7 0
-8 0

c Transitions for k = 1
c i = 1
c  -1+1 --> 0
c    ( b^{1, 1}_4 ? -b^{1, 1}_3 ? -b^{1, 1}_2 ? -b^{1, 1}_1 ?  b^{1, 1}_0 ?  p_1) -> (-b^{1, 2}_4 ? -b^{1, 2}_3 ? -b^{1, 2}_2 ? -b^{1, 2}_1 ? -b^{1, 2}_0)
c  in CNF:
c    -b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ? -p_1 ? -b^{1, 2}_4
c    -b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ? -p_1 ? -b^{1, 2}_3
c    -b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ? -p_1 ? -b^{1, 2}_2
c    -b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ? -p_1 ? -b^{1, 2}_1
c    -b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ? -p_1 ? -b^{1, 2}_0
c  in DIMACS:
-4  5  6  7 -8 -1 -9 0
-4  5  6  7 -8 -1 -10 0
-4  5  6  7 -8 -1 -11 0
-4  5  6  7 -8 -1 -12 0
-4  5  6  7 -8 -1 -13 0

c  0+1 --> 1
c    (-b^{1, 1}_4 ? -b^{1, 1}_3 ? -b^{1, 1}_2 ? -b^{1, 1}_1 ? -b^{1, 1}_0 ?  p_1) -> (-b^{1, 2}_4 ? -b^{1, 2}_3 ? -b^{1, 2}_2 ? -b^{1, 2}_1 ?  b^{1, 2}_0)
c  in CNF:
c     b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ?  b^{1, 1}_0 ? -p_1 ? -b^{1, 2}_4
c     b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ?  b^{1, 1}_0 ? -p_1 ? -b^{1, 2}_3
c     b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ?  b^{1, 1}_0 ? -p_1 ? -b^{1, 2}_2
c     b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ?  b^{1, 1}_0 ? -p_1 ? -b^{1, 2}_1
c     b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ?  b^{1, 1}_0 ? -p_1 ?  b^{1, 2}_0
c  in DIMACS:
 4  5  6  7  8 -1 -9 0
 4  5  6  7  8 -1 -10 0
 4  5  6  7  8 -1 -11 0
 4  5  6  7  8 -1 -12 0
 4  5  6  7  8 -1  13 0

c  1+1 --> break 
c    (-b^{1, 1}_4 ? -b^{1, 1}_3 ? -b^{1, 1}_2 ? -b^{1, 1}_1 ?  b^{1, 1}_0 ?  p_1) -> break
c  in CNF:
c     b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ? -p_1 ? break
c  in DIMACS:
 4  5  6  7 -8 -1 3 0


c  1-1 --> 0
c    (-b^{1, 1}_4 ? -b^{1, 1}_3 ? -b^{1, 1}_2 ? -b^{1, 1}_1 ?  b^{1, 1}_0 ? -p_1) -> (-b^{1, 2}_4 ? -b^{1, 2}_3 ? -b^{1, 2}_2 ? -b^{1, 2}_1 ? -b^{1, 2}_0)
c  in CNF:
c     b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ?  p_1 ? -b^{1, 2}_4
c     b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ?  p_1 ? -b^{1, 2}_3
c     b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ?  p_1 ? -b^{1, 2}_2
c     b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ?  p_1 ? -b^{1, 2}_1
c     b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ?  p_1 ? -b^{1, 2}_0
c  in DIMACS:
 4  5  6  7 -8  1 -9 0
 4  5  6  7 -8  1 -10 0
 4  5  6  7 -8  1 -11 0
 4  5  6  7 -8  1 -12 0
 4  5  6  7 -8  1 -13 0

c  0-1 --> -1
c    (-b^{1, 1}_4 ? -b^{1, 1}_3 ? -b^{1, 1}_2 ? -b^{1, 1}_1 ? -b^{1, 1}_0 ? -p_1) -> ( b^{1, 2}_4 ? -b^{1, 2}_3 ? -b^{1, 2}_2 ? -b^{1, 2}_1 ?  b^{1, 2}_0)
c  in CNF:
c     b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ?  b^{1, 1}_0 ?  p_1 ?  b^{1, 2}_4
c     b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ?  b^{1, 1}_0 ?  p_1 ? -b^{1, 2}_3
c     b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ?  b^{1, 1}_0 ?  p_1 ? -b^{1, 2}_2
c     b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ?  b^{1, 1}_0 ?  p_1 ? -b^{1, 2}_1
c     b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ?  b^{1, 1}_0 ?  p_1 ?  b^{1, 2}_0
c  in DIMACS:
 4  5  6  7  8  1  9 0
 4  5  6  7  8  1 -10 0
 4  5  6  7  8  1 -11 0
 4  5  6  7  8  1 -12 0
 4  5  6  7  8  1  13 0

c  -1-1 --> break 
c    ( b^{1, 1}_4 ? -b^{1, 1}_3 ? -b^{1, 1}_2 ? -b^{1, 1}_1 ?  b^{1, 1}_0 ? -p_1) -> break
c  in CNF:
c    -b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ?  p_1 ? break
c  in DIMACS:
-4  5  6  7 -8  1 3 0


c Disallowed combinations
c  0b100 represents a "negated" zero. Not a state.
c    -( b^{1, 1}_4 ? -b^{1, 1}_3 ? -b^{1, 1}_2 ? -b^{1, 1}_1 ? -b^{1, 1}_0 ? true) 
c  in CNF:
c    -b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ?  b^{1, 1}_0 ? false 
c  in DIMACS:
-4  5  6  7  8  0

c  2 does not represent an automaton state.
c    -(-b^{1, 1}_4 ? -b^{1, 1}_3 ? -b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ? true) 
c  in CNF:
c     b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ? -b^{1, 1}_1 ?  b^{1, 1}_0 ? false 
c  in DIMACS:
 4  5  6 -7  8  0
c  -2 does not represent an automaton state.
c    -( b^{1, 1}_4 ? -b^{1, 1}_3 ? -b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ? true) 
c  in CNF:
c    -b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ? -b^{1, 1}_1 ?  b^{1, 1}_0 ? false 
c  in DIMACS:
-4  5  6 -7  8  0

c  3 does not represent an automaton state.
c    -(-b^{1, 1}_4 ? -b^{1, 1}_3 ? -b^{1, 1}_2 ?  b^{1, 1}_1 ?  b^{1, 1}_0 ? true) 
c  in CNF:
c     b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ? -b^{1, 1}_1 ? -b^{1, 1}_0 ? false 
c  in DIMACS:
 4  5  6 -7 -8  0
c  -3 does not represent an automaton state.
c    -( b^{1, 1}_4 ? -b^{1, 1}_3 ? -b^{1, 1}_2 ?  b^{1, 1}_1 ?  b^{1, 1}_0 ? true) 
c  in CNF:
c    -b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ? -b^{1, 1}_1 ? -b^{1, 1}_0 ? false 
c  in DIMACS:
-4  5  6 -7 -8  0

c  4 does not represent an automaton state.
c    -(-b^{1, 1}_4 ? -b^{1, 1}_3 ?  b^{1, 1}_2 ? -b^{1, 1}_1 ? -b^{1, 1}_0 ? true) 
c  in CNF:
c     b^{1, 1}_4 ?  b^{1, 1}_3 ? -b^{1, 1}_2 ?  b^{1, 1}_1 ?  b^{1, 1}_0 ? false 
c  in DIMACS:
 4  5 -6  7  8  0
c  -4 does not represent an automaton state.
c    -( b^{1, 1}_4 ? -b^{1, 1}_3 ?  b^{1, 1}_2 ? -b^{1, 1}_1 ? -b^{1, 1}_0 ? true) 
c  in CNF:
c    -b^{1, 1}_4 ?  b^{1, 1}_3 ? -b^{1, 1}_2 ?  b^{1, 1}_1 ?  b^{1, 1}_0 ? false 
c  in DIMACS:
-4  5 -6  7  8  0

c  5 does not represent an automaton state.
c    -(-b^{1, 1}_4 ? -b^{1, 1}_3 ?  b^{1, 1}_2 ? -b^{1, 1}_1 ?  b^{1, 1}_0 ? true) 
c  in CNF:
c     b^{1, 1}_4 ?  b^{1, 1}_3 ? -b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ? false 
c  in DIMACS:
 4  5 -6  7 -8  0
c  -5 does not represent an automaton state.
c    -( b^{1, 1}_4 ? -b^{1, 1}_3 ?  b^{1, 1}_2 ? -b^{1, 1}_1 ?  b^{1, 1}_0 ? true) 
c  in CNF:
c    -b^{1, 1}_4 ?  b^{1, 1}_3 ? -b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ? false 
c  in DIMACS:
-4  5 -6  7 -8  0

c  6 does not represent an automaton state.
c    -(-b^{1, 1}_4 ? -b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ? true) 
c  in CNF:
c     b^{1, 1}_4 ?  b^{1, 1}_3 ? -b^{1, 1}_2 ? -b^{1, 1}_1 ?  b^{1, 1}_0 ? false 
c  in DIMACS:
 4  5 -6 -7  8  0
c  -6 does not represent an automaton state.
c    -( b^{1, 1}_4 ? -b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ? true) 
c  in CNF:
c    -b^{1, 1}_4 ?  b^{1, 1}_3 ? -b^{1, 1}_2 ? -b^{1, 1}_1 ?  b^{1, 1}_0 ? false 
c  in DIMACS:
-4  5 -6 -7  8  0

c  7 does not represent an automaton state.
c    -(-b^{1, 1}_4 ? -b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ?  b^{1, 1}_0 ? true) 
c  in CNF:
c     b^{1, 1}_4 ?  b^{1, 1}_3 ? -b^{1, 1}_2 ? -b^{1, 1}_1 ? -b^{1, 1}_0 ? false 
c  in DIMACS:
 4  5 -6 -7 -8  0
c  -7 does not represent an automaton state.
c    -( b^{1, 1}_4 ? -b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ?  b^{1, 1}_0 ? true) 
c  in CNF:
c    -b^{1, 1}_4 ?  b^{1, 1}_3 ? -b^{1, 1}_2 ? -b^{1, 1}_1 ? -b^{1, 1}_0 ? false 
c  in DIMACS:
-4  5 -6 -7 -8  0

c  8 does not represent an automaton state.
c    -(-b^{1, 1}_4 ?  b^{1, 1}_3 ? -b^{1, 1}_2 ? -b^{1, 1}_1 ? -b^{1, 1}_0 ? true) 
c  in CNF:
c     b^{1, 1}_4 ? -b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ?  b^{1, 1}_0 ? false 
c  in DIMACS:
 4 -5  6  7  8  0
c  -8 does not represent an automaton state.
c    -( b^{1, 1}_4 ?  b^{1, 1}_3 ? -b^{1, 1}_2 ? -b^{1, 1}_1 ? -b^{1, 1}_0 ? true) 
c  in CNF:
c    -b^{1, 1}_4 ? -b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ?  b^{1, 1}_0 ? false 
c  in DIMACS:
-4 -5  6  7  8  0

c  9 does not represent an automaton state.
c    -(-b^{1, 1}_4 ?  b^{1, 1}_3 ? -b^{1, 1}_2 ? -b^{1, 1}_1 ?  b^{1, 1}_0 ? true) 
c  in CNF:
c     b^{1, 1}_4 ? -b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ? false 
c  in DIMACS:
 4 -5  6  7 -8  0
c  -9 does not represent an automaton state.
c    -( b^{1, 1}_4 ?  b^{1, 1}_3 ? -b^{1, 1}_2 ? -b^{1, 1}_1 ?  b^{1, 1}_0 ? true) 
c  in CNF:
c    -b^{1, 1}_4 ? -b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ? false 
c  in DIMACS:
-4 -5  6  7 -8  0

c  10 does not represent an automaton state.
c    -(-b^{1, 1}_4 ?  b^{1, 1}_3 ? -b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ? true) 
c  in CNF:
c     b^{1, 1}_4 ? -b^{1, 1}_3 ?  b^{1, 1}_2 ? -b^{1, 1}_1 ?  b^{1, 1}_0 ? false 
c  in DIMACS:
 4 -5  6 -7  8  0
c  -10 does not represent an automaton state.
c    -( b^{1, 1}_4 ?  b^{1, 1}_3 ? -b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ? true) 
c  in CNF:
c    -b^{1, 1}_4 ? -b^{1, 1}_3 ?  b^{1, 1}_2 ? -b^{1, 1}_1 ?  b^{1, 1}_0 ? false 
c  in DIMACS:
-4 -5  6 -7  8  0

c  11 does not represent an automaton state.
c    -(-b^{1, 1}_4 ?  b^{1, 1}_3 ? -b^{1, 1}_2 ?  b^{1, 1}_1 ?  b^{1, 1}_0 ? true) 
c  in CNF:
c     b^{1, 1}_4 ? -b^{1, 1}_3 ?  b^{1, 1}_2 ? -b^{1, 1}_1 ? -b^{1, 1}_0 ? false 
c  in DIMACS:
 4 -5  6 -7 -8  0
c  -11 does not represent an automaton state.
c    -( b^{1, 1}_4 ?  b^{1, 1}_3 ? -b^{1, 1}_2 ?  b^{1, 1}_1 ?  b^{1, 1}_0 ? true) 
c  in CNF:
c    -b^{1, 1}_4 ? -b^{1, 1}_3 ?  b^{1, 1}_2 ? -b^{1, 1}_1 ? -b^{1, 1}_0 ? false 
c  in DIMACS:
-4 -5  6 -7 -8  0

c  12 does not represent an automaton state.
c    -(-b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ? -b^{1, 1}_1 ? -b^{1, 1}_0 ? true) 
c  in CNF:
c     b^{1, 1}_4 ? -b^{1, 1}_3 ? -b^{1, 1}_2 ?  b^{1, 1}_1 ?  b^{1, 1}_0 ? false 
c  in DIMACS:
 4 -5 -6  7  8  0
c  -12 does not represent an automaton state.
c    -( b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ? -b^{1, 1}_1 ? -b^{1, 1}_0 ? true) 
c  in CNF:
c    -b^{1, 1}_4 ? -b^{1, 1}_3 ? -b^{1, 1}_2 ?  b^{1, 1}_1 ?  b^{1, 1}_0 ? false 
c  in DIMACS:
-4 -5 -6  7  8  0

c  13 does not represent an automaton state.
c    -(-b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ? -b^{1, 1}_1 ?  b^{1, 1}_0 ? true) 
c  in CNF:
c     b^{1, 1}_4 ? -b^{1, 1}_3 ? -b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ? false 
c  in DIMACS:
 4 -5 -6  7 -8  0
c  -13 does not represent an automaton state.
c    -( b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ? -b^{1, 1}_1 ?  b^{1, 1}_0 ? true) 
c  in CNF:
c    -b^{1, 1}_4 ? -b^{1, 1}_3 ? -b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ? false 
c  in DIMACS:
-4 -5 -6  7 -8  0

c  14 does not represent an automaton state.
c    -(-b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ? true) 
c  in CNF:
c     b^{1, 1}_4 ? -b^{1, 1}_3 ? -b^{1, 1}_2 ? -b^{1, 1}_1 ?  b^{1, 1}_0 ? false 
c  in DIMACS:
 4 -5 -6 -7  8  0
c  -14 does not represent an automaton state.
c    -( b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ? -b^{1, 1}_0 ? true) 
c  in CNF:
c    -b^{1, 1}_4 ? -b^{1, 1}_3 ? -b^{1, 1}_2 ? -b^{1, 1}_1 ?  b^{1, 1}_0 ? false 
c  in DIMACS:
-4 -5 -6 -7  8  0

c  15 does not represent an automaton state.
c    -(-b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ?  b^{1, 1}_0 ? true) 
c  in CNF:
c     b^{1, 1}_4 ? -b^{1, 1}_3 ? -b^{1, 1}_2 ? -b^{1, 1}_1 ? -b^{1, 1}_0 ? false 
c  in DIMACS:
 4 -5 -6 -7 -8  0
c  -15 does not represent an automaton state.
c    -( b^{1, 1}_4 ?  b^{1, 1}_3 ?  b^{1, 1}_2 ?  b^{1, 1}_1 ?  b^{1, 1}_0 ? true) 
c  in CNF:
c    -b^{1, 1}_4 ? -b^{1, 1}_3 ? -b^{1, 1}_2 ? -b^{1, 1}_1 ? -b^{1, 1}_0 ? false 
c  in DIMACS:
-4 -5 -6 -7 -8  0

c i = 2
c  -1+1 --> 0
c    ( b^{1, 2}_4 ? -b^{1, 2}_3 ? -b^{1, 2}_2 ? -b^{1, 2}_1 ?  b^{1, 2}_0 ?  p_2) -> (-b^{1, 3}_4 ? -b^{1, 3}_3 ? -b^{1, 3}_2 ? -b^{1, 3}_1 ? -b^{1, 3}_0)
c  in CNF:
c    -b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ? -p_2 ? -b^{1, 3}_4
c    -b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ? -p_2 ? -b^{1, 3}_3
c    -b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ? -p_2 ? -b^{1, 3}_2
c    -b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ? -p_2 ? -b^{1, 3}_1
c    -b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ? -p_2 ? -b^{1, 3}_0
c  in DIMACS:
-9  10  11  12 -13 -2 -14 0
-9  10  11  12 -13 -2 -15 0
-9  10  11  12 -13 -2 -16 0
-9  10  11  12 -13 -2 -17 0
-9  10  11  12 -13 -2 -18 0

c  0+1 --> 1
c    (-b^{1, 2}_4 ? -b^{1, 2}_3 ? -b^{1, 2}_2 ? -b^{1, 2}_1 ? -b^{1, 2}_0 ?  p_2) -> (-b^{1, 3}_4 ? -b^{1, 3}_3 ? -b^{1, 3}_2 ? -b^{1, 3}_1 ?  b^{1, 3}_0)
c  in CNF:
c     b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ?  b^{1, 2}_0 ? -p_2 ? -b^{1, 3}_4
c     b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ?  b^{1, 2}_0 ? -p_2 ? -b^{1, 3}_3
c     b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ?  b^{1, 2}_0 ? -p_2 ? -b^{1, 3}_2
c     b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ?  b^{1, 2}_0 ? -p_2 ? -b^{1, 3}_1
c     b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ?  b^{1, 2}_0 ? -p_2 ?  b^{1, 3}_0
c  in DIMACS:
 9  10  11  12  13 -2 -14 0
 9  10  11  12  13 -2 -15 0
 9  10  11  12  13 -2 -16 0
 9  10  11  12  13 -2 -17 0
 9  10  11  12  13 -2  18 0

c  1+1 --> break 
c    (-b^{1, 2}_4 ? -b^{1, 2}_3 ? -b^{1, 2}_2 ? -b^{1, 2}_1 ?  b^{1, 2}_0 ?  p_2) -> break
c  in CNF:
c     b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ? -p_2 ? break
c  in DIMACS:
 9  10  11  12 -13 -2 3 0


c  1-1 --> 0
c    (-b^{1, 2}_4 ? -b^{1, 2}_3 ? -b^{1, 2}_2 ? -b^{1, 2}_1 ?  b^{1, 2}_0 ? -p_2) -> (-b^{1, 3}_4 ? -b^{1, 3}_3 ? -b^{1, 3}_2 ? -b^{1, 3}_1 ? -b^{1, 3}_0)
c  in CNF:
c     b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ?  p_2 ? -b^{1, 3}_4
c     b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ?  p_2 ? -b^{1, 3}_3
c     b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ?  p_2 ? -b^{1, 3}_2
c     b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ?  p_2 ? -b^{1, 3}_1
c     b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ?  p_2 ? -b^{1, 3}_0
c  in DIMACS:
 9  10  11  12 -13  2 -14 0
 9  10  11  12 -13  2 -15 0
 9  10  11  12 -13  2 -16 0
 9  10  11  12 -13  2 -17 0
 9  10  11  12 -13  2 -18 0

c  0-1 --> -1
c    (-b^{1, 2}_4 ? -b^{1, 2}_3 ? -b^{1, 2}_2 ? -b^{1, 2}_1 ? -b^{1, 2}_0 ? -p_2) -> ( b^{1, 3}_4 ? -b^{1, 3}_3 ? -b^{1, 3}_2 ? -b^{1, 3}_1 ?  b^{1, 3}_0)
c  in CNF:
c     b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ?  b^{1, 2}_0 ?  p_2 ?  b^{1, 3}_4
c     b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ?  b^{1, 2}_0 ?  p_2 ? -b^{1, 3}_3
c     b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ?  b^{1, 2}_0 ?  p_2 ? -b^{1, 3}_2
c     b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ?  b^{1, 2}_0 ?  p_2 ? -b^{1, 3}_1
c     b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ?  b^{1, 2}_0 ?  p_2 ?  b^{1, 3}_0
c  in DIMACS:
 9  10  11  12  13  2  14 0
 9  10  11  12  13  2 -15 0
 9  10  11  12  13  2 -16 0
 9  10  11  12  13  2 -17 0
 9  10  11  12  13  2  18 0

c  -1-1 --> break 
c    ( b^{1, 2}_4 ? -b^{1, 2}_3 ? -b^{1, 2}_2 ? -b^{1, 2}_1 ?  b^{1, 2}_0 ? -p_2) -> break
c  in CNF:
c    -b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ?  p_2 ? break
c  in DIMACS:
-9  10  11  12 -13  2 3 0


c Disallowed combinations
c  0b100 represents a "negated" zero. Not a state.
c    -( b^{1, 2}_4 ? -b^{1, 2}_3 ? -b^{1, 2}_2 ? -b^{1, 2}_1 ? -b^{1, 2}_0 ? true) 
c  in CNF:
c    -b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ?  b^{1, 2}_0 ? false 
c  in DIMACS:
-9  10  11  12  13  0

c  2 does not represent an automaton state.
c    -(-b^{1, 2}_4 ? -b^{1, 2}_3 ? -b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ? true) 
c  in CNF:
c     b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ? -b^{1, 2}_1 ?  b^{1, 2}_0 ? false 
c  in DIMACS:
 9  10  11 -12  13  0
c  -2 does not represent an automaton state.
c    -( b^{1, 2}_4 ? -b^{1, 2}_3 ? -b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ? true) 
c  in CNF:
c    -b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ? -b^{1, 2}_1 ?  b^{1, 2}_0 ? false 
c  in DIMACS:
-9  10  11 -12  13  0

c  3 does not represent an automaton state.
c    -(-b^{1, 2}_4 ? -b^{1, 2}_3 ? -b^{1, 2}_2 ?  b^{1, 2}_1 ?  b^{1, 2}_0 ? true) 
c  in CNF:
c     b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ? -b^{1, 2}_1 ? -b^{1, 2}_0 ? false 
c  in DIMACS:
 9  10  11 -12 -13  0
c  -3 does not represent an automaton state.
c    -( b^{1, 2}_4 ? -b^{1, 2}_3 ? -b^{1, 2}_2 ?  b^{1, 2}_1 ?  b^{1, 2}_0 ? true) 
c  in CNF:
c    -b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ? -b^{1, 2}_1 ? -b^{1, 2}_0 ? false 
c  in DIMACS:
-9  10  11 -12 -13  0

c  4 does not represent an automaton state.
c    -(-b^{1, 2}_4 ? -b^{1, 2}_3 ?  b^{1, 2}_2 ? -b^{1, 2}_1 ? -b^{1, 2}_0 ? true) 
c  in CNF:
c     b^{1, 2}_4 ?  b^{1, 2}_3 ? -b^{1, 2}_2 ?  b^{1, 2}_1 ?  b^{1, 2}_0 ? false 
c  in DIMACS:
 9  10 -11  12  13  0
c  -4 does not represent an automaton state.
c    -( b^{1, 2}_4 ? -b^{1, 2}_3 ?  b^{1, 2}_2 ? -b^{1, 2}_1 ? -b^{1, 2}_0 ? true) 
c  in CNF:
c    -b^{1, 2}_4 ?  b^{1, 2}_3 ? -b^{1, 2}_2 ?  b^{1, 2}_1 ?  b^{1, 2}_0 ? false 
c  in DIMACS:
-9  10 -11  12  13  0

c  5 does not represent an automaton state.
c    -(-b^{1, 2}_4 ? -b^{1, 2}_3 ?  b^{1, 2}_2 ? -b^{1, 2}_1 ?  b^{1, 2}_0 ? true) 
c  in CNF:
c     b^{1, 2}_4 ?  b^{1, 2}_3 ? -b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ? false 
c  in DIMACS:
 9  10 -11  12 -13  0
c  -5 does not represent an automaton state.
c    -( b^{1, 2}_4 ? -b^{1, 2}_3 ?  b^{1, 2}_2 ? -b^{1, 2}_1 ?  b^{1, 2}_0 ? true) 
c  in CNF:
c    -b^{1, 2}_4 ?  b^{1, 2}_3 ? -b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ? false 
c  in DIMACS:
-9  10 -11  12 -13  0

c  6 does not represent an automaton state.
c    -(-b^{1, 2}_4 ? -b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ? true) 
c  in CNF:
c     b^{1, 2}_4 ?  b^{1, 2}_3 ? -b^{1, 2}_2 ? -b^{1, 2}_1 ?  b^{1, 2}_0 ? false 
c  in DIMACS:
 9  10 -11 -12  13  0
c  -6 does not represent an automaton state.
c    -( b^{1, 2}_4 ? -b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ? true) 
c  in CNF:
c    -b^{1, 2}_4 ?  b^{1, 2}_3 ? -b^{1, 2}_2 ? -b^{1, 2}_1 ?  b^{1, 2}_0 ? false 
c  in DIMACS:
-9  10 -11 -12  13  0

c  7 does not represent an automaton state.
c    -(-b^{1, 2}_4 ? -b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ?  b^{1, 2}_0 ? true) 
c  in CNF:
c     b^{1, 2}_4 ?  b^{1, 2}_3 ? -b^{1, 2}_2 ? -b^{1, 2}_1 ? -b^{1, 2}_0 ? false 
c  in DIMACS:
 9  10 -11 -12 -13  0
c  -7 does not represent an automaton state.
c    -( b^{1, 2}_4 ? -b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ?  b^{1, 2}_0 ? true) 
c  in CNF:
c    -b^{1, 2}_4 ?  b^{1, 2}_3 ? -b^{1, 2}_2 ? -b^{1, 2}_1 ? -b^{1, 2}_0 ? false 
c  in DIMACS:
-9  10 -11 -12 -13  0

c  8 does not represent an automaton state.
c    -(-b^{1, 2}_4 ?  b^{1, 2}_3 ? -b^{1, 2}_2 ? -b^{1, 2}_1 ? -b^{1, 2}_0 ? true) 
c  in CNF:
c     b^{1, 2}_4 ? -b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ?  b^{1, 2}_0 ? false 
c  in DIMACS:
 9 -10  11  12  13  0
c  -8 does not represent an automaton state.
c    -( b^{1, 2}_4 ?  b^{1, 2}_3 ? -b^{1, 2}_2 ? -b^{1, 2}_1 ? -b^{1, 2}_0 ? true) 
c  in CNF:
c    -b^{1, 2}_4 ? -b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ?  b^{1, 2}_0 ? false 
c  in DIMACS:
-9 -10  11  12  13  0

c  9 does not represent an automaton state.
c    -(-b^{1, 2}_4 ?  b^{1, 2}_3 ? -b^{1, 2}_2 ? -b^{1, 2}_1 ?  b^{1, 2}_0 ? true) 
c  in CNF:
c     b^{1, 2}_4 ? -b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ? false 
c  in DIMACS:
 9 -10  11  12 -13  0
c  -9 does not represent an automaton state.
c    -( b^{1, 2}_4 ?  b^{1, 2}_3 ? -b^{1, 2}_2 ? -b^{1, 2}_1 ?  b^{1, 2}_0 ? true) 
c  in CNF:
c    -b^{1, 2}_4 ? -b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ? false 
c  in DIMACS:
-9 -10  11  12 -13  0

c  10 does not represent an automaton state.
c    -(-b^{1, 2}_4 ?  b^{1, 2}_3 ? -b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ? true) 
c  in CNF:
c     b^{1, 2}_4 ? -b^{1, 2}_3 ?  b^{1, 2}_2 ? -b^{1, 2}_1 ?  b^{1, 2}_0 ? false 
c  in DIMACS:
 9 -10  11 -12  13  0
c  -10 does not represent an automaton state.
c    -( b^{1, 2}_4 ?  b^{1, 2}_3 ? -b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ? true) 
c  in CNF:
c    -b^{1, 2}_4 ? -b^{1, 2}_3 ?  b^{1, 2}_2 ? -b^{1, 2}_1 ?  b^{1, 2}_0 ? false 
c  in DIMACS:
-9 -10  11 -12  13  0

c  11 does not represent an automaton state.
c    -(-b^{1, 2}_4 ?  b^{1, 2}_3 ? -b^{1, 2}_2 ?  b^{1, 2}_1 ?  b^{1, 2}_0 ? true) 
c  in CNF:
c     b^{1, 2}_4 ? -b^{1, 2}_3 ?  b^{1, 2}_2 ? -b^{1, 2}_1 ? -b^{1, 2}_0 ? false 
c  in DIMACS:
 9 -10  11 -12 -13  0
c  -11 does not represent an automaton state.
c    -( b^{1, 2}_4 ?  b^{1, 2}_3 ? -b^{1, 2}_2 ?  b^{1, 2}_1 ?  b^{1, 2}_0 ? true) 
c  in CNF:
c    -b^{1, 2}_4 ? -b^{1, 2}_3 ?  b^{1, 2}_2 ? -b^{1, 2}_1 ? -b^{1, 2}_0 ? false 
c  in DIMACS:
-9 -10  11 -12 -13  0

c  12 does not represent an automaton state.
c    -(-b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ? -b^{1, 2}_1 ? -b^{1, 2}_0 ? true) 
c  in CNF:
c     b^{1, 2}_4 ? -b^{1, 2}_3 ? -b^{1, 2}_2 ?  b^{1, 2}_1 ?  b^{1, 2}_0 ? false 
c  in DIMACS:
 9 -10 -11  12  13  0
c  -12 does not represent an automaton state.
c    -( b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ? -b^{1, 2}_1 ? -b^{1, 2}_0 ? true) 
c  in CNF:
c    -b^{1, 2}_4 ? -b^{1, 2}_3 ? -b^{1, 2}_2 ?  b^{1, 2}_1 ?  b^{1, 2}_0 ? false 
c  in DIMACS:
-9 -10 -11  12  13  0

c  13 does not represent an automaton state.
c    -(-b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ? -b^{1, 2}_1 ?  b^{1, 2}_0 ? true) 
c  in CNF:
c     b^{1, 2}_4 ? -b^{1, 2}_3 ? -b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ? false 
c  in DIMACS:
 9 -10 -11  12 -13  0
c  -13 does not represent an automaton state.
c    -( b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ? -b^{1, 2}_1 ?  b^{1, 2}_0 ? true) 
c  in CNF:
c    -b^{1, 2}_4 ? -b^{1, 2}_3 ? -b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ? false 
c  in DIMACS:
-9 -10 -11  12 -13  0

c  14 does not represent an automaton state.
c    -(-b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ? true) 
c  in CNF:
c     b^{1, 2}_4 ? -b^{1, 2}_3 ? -b^{1, 2}_2 ? -b^{1, 2}_1 ?  b^{1, 2}_0 ? false 
c  in DIMACS:
 9 -10 -11 -12  13  0
c  -14 does not represent an automaton state.
c    -( b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ? -b^{1, 2}_0 ? true) 
c  in CNF:
c    -b^{1, 2}_4 ? -b^{1, 2}_3 ? -b^{1, 2}_2 ? -b^{1, 2}_1 ?  b^{1, 2}_0 ? false 
c  in DIMACS:
-9 -10 -11 -12  13  0

c  15 does not represent an automaton state.
c    -(-b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ?  b^{1, 2}_0 ? true) 
c  in CNF:
c     b^{1, 2}_4 ? -b^{1, 2}_3 ? -b^{1, 2}_2 ? -b^{1, 2}_1 ? -b^{1, 2}_0 ? false 
c  in DIMACS:
 9 -10 -11 -12 -13  0
c  -15 does not represent an automaton state.
c    -( b^{1, 2}_4 ?  b^{1, 2}_3 ?  b^{1, 2}_2 ?  b^{1, 2}_1 ?  b^{1, 2}_0 ? true) 
c  in CNF:
c    -b^{1, 2}_4 ? -b^{1, 2}_3 ? -b^{1, 2}_2 ? -b^{1, 2}_1 ? -b^{1, 2}_0 ? false 
c  in DIMACS:
-9 -10 -11 -12 -13  0

