c This table represents how propositions correspond to numbers
c    p[1] = 1, p[2] = 2, p[3] = 3, p[4] = 4, p[5] = 5, 

c    break = 6

c    b[1][1][1] = 7 b[1][1][0] = 8 
c    b[1][2][1] = 9 b[1][2][0] = 10 
c    b[1][3][1] = 11 b[1][3][0] = 12 
c    b[1][4][1] = 13 b[1][4][0] = 14 
c    b[1][5][1] = 15 b[1][5][0] = 16 
c    b[1][6][1] = 17 b[1][6][0] = 18 

c    b[2][1][1] = 19 b[2][1][0] = 20 
c    b[2][2][1] = 21 b[2][2][0] = 22 
c    b[2][3][1] = 23 b[2][3][0] = 24 

p cnf 24 82


c Automaton should not be broken 
c    -break 
-6 0

c INIT for k = 1
c    -b^{1, 1}_1
c    -b^{1, 1}_0
c  in DIMACS:
-7 0
-8 0

c Transitions for k = 1
c i = 1
c  -1+1 --> 0
c    ( b^{1, 1}_1 ?  b^{1, 1}_0 ?  p_1) -> (-b^{1, 2}_1 ? -b^{1, 2}_0)
c  in CNF:
c    -b^{1, 1}_1 ? -b^{1, 1}_0 ? -p_1 ? -b^{1, 2}_1
c    -b^{1, 1}_1 ? -b^{1, 1}_0 ? -p_1 ? -b^{1, 2}_0
c  in DIMACS:
-7 -8 -1 -9 0
-7 -8 -1 -10 0

c  0+1 --> 1
c    (-b^{1, 1}_1 ? -b^{1, 1}_0 ?  p_1) -> (-b^{1, 2}_1 ?  b^{1, 2}_0)
c  in CNF:
c     b^{1, 1}_1 ?  b^{1, 1}_0 ? -p_1 ? -b^{1, 2}_1
c     b^{1, 1}_1 ?  b^{1, 1}_0 ? -p_1 ?  b^{1, 2}_0
c  in DIMACS:
 7  8 -1 -9 0
 7  8 -1  10 0

c  1+1 --> break 
c    (-b^{1, 1}_1 ?  b^{1, 1}_0 ?  p_1) -> break
c  in CNF:
c     b^{1, 1}_1 ? -b^{1, 1}_0 ? -p_1 ? break
c  in DIMACS:
 7 -8 -1 6 0


c  1-1 --> 0
c    (-b^{1, 1}_1 ?  b^{1, 1}_0 ? -p_1) -> (-b^{1, 2}_1 ? -b^{1, 2}_0)
c  in CNF:
c     b^{1, 1}_1 ? -b^{1, 1}_0 ?  p_1 ? -b^{1, 2}_1
c     b^{1, 1}_1 ? -b^{1, 1}_0 ?  p_1 ? -b^{1, 2}_0
c  in DIMACS:
 7 -8  1 -9 0
 7 -8  1 -10 0

c  0-1 --> -1
c    (-b^{1, 1}_1 ? -b^{1, 1}_0 ? -p_1) -> ( b^{1, 2}_1 ?  b^{1, 2}_0)
c  in CNF:
c     b^{1, 1}_1 ?  b^{1, 1}_0 ?  p_1 ?  b^{1, 2}_1
c     b^{1, 1}_1 ?  b^{1, 1}_0 ?  p_1 ?  b^{1, 2}_0
c  in DIMACS:
 7  8  1  9 0
 7  8  1  10 0

c  -1-1 --> break 
c    ( b^{1, 1}_1 ?  b^{1, 1}_0 ? -p_1) -> break
c  in CNF:
c    -b^{1, 1}_1 ? -b^{1, 1}_0 ?  p_1 ? break
c  in DIMACS:
-7 -8  1 6 0


c Disallowed combinations
c  0b100 represents a "negated" zero. Not a state.
c    -( b^{1, 1}_1 ? -b^{1, 1}_0 ? true) 
c  in CNF:
c    -b^{1, 1}_1 ?  b^{1, 1}_0 ? false 
c  in DIMACS:
-7  8  0

c i = 2
c  -1+1 --> 0
c    ( b^{1, 2}_1 ?  b^{1, 2}_0 ?  p_2) -> (-b^{1, 3}_1 ? -b^{1, 3}_0)
c  in CNF:
c    -b^{1, 2}_1 ? -b^{1, 2}_0 ? -p_2 ? -b^{1, 3}_1
c    -b^{1, 2}_1 ? -b^{1, 2}_0 ? -p_2 ? -b^{1, 3}_0
c  in DIMACS:
-9 -10 -2 -11 0
-9 -10 -2 -12 0

c  0+1 --> 1
c    (-b^{1, 2}_1 ? -b^{1, 2}_0 ?  p_2) -> (-b^{1, 3}_1 ?  b^{1, 3}_0)
c  in CNF:
c     b^{1, 2}_1 ?  b^{1, 2}_0 ? -p_2 ? -b^{1, 3}_1
c     b^{1, 2}_1 ?  b^{1, 2}_0 ? -p_2 ?  b^{1, 3}_0
c  in DIMACS:
 9  10 -2 -11 0
 9  10 -2  12 0

c  1+1 --> break 
c    (-b^{1, 2}_1 ?  b^{1, 2}_0 ?  p_2) -> break
c  in CNF:
c     b^{1, 2}_1 ? -b^{1, 2}_0 ? -p_2 ? break
c  in DIMACS:
 9 -10 -2 6 0


c  1-1 --> 0
c    (-b^{1, 2}_1 ?  b^{1, 2}_0 ? -p_2) -> (-b^{1, 3}_1 ? -b^{1, 3}_0)
c  in CNF:
c     b^{1, 2}_1 ? -b^{1, 2}_0 ?  p_2 ? -b^{1, 3}_1
c     b^{1, 2}_1 ? -b^{1, 2}_0 ?  p_2 ? -b^{1, 3}_0
c  in DIMACS:
 9 -10  2 -11 0
 9 -10  2 -12 0

c  0-1 --> -1
c    (-b^{1, 2}_1 ? -b^{1, 2}_0 ? -p_2) -> ( b^{1, 3}_1 ?  b^{1, 3}_0)
c  in CNF:
c     b^{1, 2}_1 ?  b^{1, 2}_0 ?  p_2 ?  b^{1, 3}_1
c     b^{1, 2}_1 ?  b^{1, 2}_0 ?  p_2 ?  b^{1, 3}_0
c  in DIMACS:
 9  10  2  11 0
 9  10  2  12 0

c  -1-1 --> break 
c    ( b^{1, 2}_1 ?  b^{1, 2}_0 ? -p_2) -> break
c  in CNF:
c    -b^{1, 2}_1 ? -b^{1, 2}_0 ?  p_2 ? break
c  in DIMACS:
-9 -10  2 6 0


c Disallowed combinations
c  0b100 represents a "negated" zero. Not a state.
c    -( b^{1, 2}_1 ? -b^{1, 2}_0 ? true) 
c  in CNF:
c    -b^{1, 2}_1 ?  b^{1, 2}_0 ? false 
c  in DIMACS:
-9  10  0

c i = 3
c  -1+1 --> 0
c    ( b^{1, 3}_1 ?  b^{1, 3}_0 ?  p_3) -> (-b^{1, 4}_1 ? -b^{1, 4}_0)
c  in CNF:
c    -b^{1, 3}_1 ? -b^{1, 3}_0 ? -p_3 ? -b^{1, 4}_1
c    -b^{1, 3}_1 ? -b^{1, 3}_0 ? -p_3 ? -b^{1, 4}_0
c  in DIMACS:
-11 -12 -3 -13 0
-11 -12 -3 -14 0

c  0+1 --> 1
c    (-b^{1, 3}_1 ? -b^{1, 3}_0 ?  p_3) -> (-b^{1, 4}_1 ?  b^{1, 4}_0)
c  in CNF:
c     b^{1, 3}_1 ?  b^{1, 3}_0 ? -p_3 ? -b^{1, 4}_1
c     b^{1, 3}_1 ?  b^{1, 3}_0 ? -p_3 ?  b^{1, 4}_0
c  in DIMACS:
 11  12 -3 -13 0
 11  12 -3  14 0

c  1+1 --> break 
c    (-b^{1, 3}_1 ?  b^{1, 3}_0 ?  p_3) -> break
c  in CNF:
c     b^{1, 3}_1 ? -b^{1, 3}_0 ? -p_3 ? break
c  in DIMACS:
 11 -12 -3 6 0


c  1-1 --> 0
c    (-b^{1, 3}_1 ?  b^{1, 3}_0 ? -p_3) -> (-b^{1, 4}_1 ? -b^{1, 4}_0)
c  in CNF:
c     b^{1, 3}_1 ? -b^{1, 3}_0 ?  p_3 ? -b^{1, 4}_1
c     b^{1, 3}_1 ? -b^{1, 3}_0 ?  p_3 ? -b^{1, 4}_0
c  in DIMACS:
 11 -12  3 -13 0
 11 -12  3 -14 0

c  0-1 --> -1
c    (-b^{1, 3}_1 ? -b^{1, 3}_0 ? -p_3) -> ( b^{1, 4}_1 ?  b^{1, 4}_0)
c  in CNF:
c     b^{1, 3}_1 ?  b^{1, 3}_0 ?  p_3 ?  b^{1, 4}_1
c     b^{1, 3}_1 ?  b^{1, 3}_0 ?  p_3 ?  b^{1, 4}_0
c  in DIMACS:
 11  12  3  13 0
 11  12  3  14 0

c  -1-1 --> break 
c    ( b^{1, 3}_1 ?  b^{1, 3}_0 ? -p_3) -> break
c  in CNF:
c    -b^{1, 3}_1 ? -b^{1, 3}_0 ?  p_3 ? break
c  in DIMACS:
-11 -12  3 6 0


c Disallowed combinations
c  0b100 represents a "negated" zero. Not a state.
c    -( b^{1, 3}_1 ? -b^{1, 3}_0 ? true) 
c  in CNF:
c    -b^{1, 3}_1 ?  b^{1, 3}_0 ? false 
c  in DIMACS:
-11  12  0

c i = 4
c  -1+1 --> 0
c    ( b^{1, 4}_1 ?  b^{1, 4}_0 ?  p_4) -> (-b^{1, 5}_1 ? -b^{1, 5}_0)
c  in CNF:
c    -b^{1, 4}_1 ? -b^{1, 4}_0 ? -p_4 ? -b^{1, 5}_1
c    -b^{1, 4}_1 ? -b^{1, 4}_0 ? -p_4 ? -b^{1, 5}_0
c  in DIMACS:
-13 -14 -4 -15 0
-13 -14 -4 -16 0

c  0+1 --> 1
c    (-b^{1, 4}_1 ? -b^{1, 4}_0 ?  p_4) -> (-b^{1, 5}_1 ?  b^{1, 5}_0)
c  in CNF:
c     b^{1, 4}_1 ?  b^{1, 4}_0 ? -p_4 ? -b^{1, 5}_1
c     b^{1, 4}_1 ?  b^{1, 4}_0 ? -p_4 ?  b^{1, 5}_0
c  in DIMACS:
 13  14 -4 -15 0
 13  14 -4  16 0

c  1+1 --> break 
c    (-b^{1, 4}_1 ?  b^{1, 4}_0 ?  p_4) -> break
c  in CNF:
c     b^{1, 4}_1 ? -b^{1, 4}_0 ? -p_4 ? break
c  in DIMACS:
 13 -14 -4 6 0


c  1-1 --> 0
c    (-b^{1, 4}_1 ?  b^{1, 4}_0 ? -p_4) -> (-b^{1, 5}_1 ? -b^{1, 5}_0)
c  in CNF:
c     b^{1, 4}_1 ? -b^{1, 4}_0 ?  p_4 ? -b^{1, 5}_1
c     b^{1, 4}_1 ? -b^{1, 4}_0 ?  p_4 ? -b^{1, 5}_0
c  in DIMACS:
 13 -14  4 -15 0
 13 -14  4 -16 0

c  0-1 --> -1
c    (-b^{1, 4}_1 ? -b^{1, 4}_0 ? -p_4) -> ( b^{1, 5}_1 ?  b^{1, 5}_0)
c  in CNF:
c     b^{1, 4}_1 ?  b^{1, 4}_0 ?  p_4 ?  b^{1, 5}_1
c     b^{1, 4}_1 ?  b^{1, 4}_0 ?  p_4 ?  b^{1, 5}_0
c  in DIMACS:
 13  14  4  15 0
 13  14  4  16 0

c  -1-1 --> break 
c    ( b^{1, 4}_1 ?  b^{1, 4}_0 ? -p_4) -> break
c  in CNF:
c    -b^{1, 4}_1 ? -b^{1, 4}_0 ?  p_4 ? break
c  in DIMACS:
-13 -14  4 6 0


c Disallowed combinations
c  0b100 represents a "negated" zero. Not a state.
c    -( b^{1, 4}_1 ? -b^{1, 4}_0 ? true) 
c  in CNF:
c    -b^{1, 4}_1 ?  b^{1, 4}_0 ? false 
c  in DIMACS:
-13  14  0

c i = 5
c  -1+1 --> 0
c    ( b^{1, 5}_1 ?  b^{1, 5}_0 ?  p_5) -> (-b^{1, 6}_1 ? -b^{1, 6}_0)
c  in CNF:
c    -b^{1, 5}_1 ? -b^{1, 5}_0 ? -p_5 ? -b^{1, 6}_1
c    -b^{1, 5}_1 ? -b^{1, 5}_0 ? -p_5 ? -b^{1, 6}_0
c  in DIMACS:
-15 -16 -5 -17 0
-15 -16 -5 -18 0

c  0+1 --> 1
c    (-b^{1, 5}_1 ? -b^{1, 5}_0 ?  p_5) -> (-b^{1, 6}_1 ?  b^{1, 6}_0)
c  in CNF:
c     b^{1, 5}_1 ?  b^{1, 5}_0 ? -p_5 ? -b^{1, 6}_1
c     b^{1, 5}_1 ?  b^{1, 5}_0 ? -p_5 ?  b^{1, 6}_0
c  in DIMACS:
 15  16 -5 -17 0
 15  16 -5  18 0

c  1+1 --> break 
c    (-b^{1, 5}_1 ?  b^{1, 5}_0 ?  p_5) -> break
c  in CNF:
c     b^{1, 5}_1 ? -b^{1, 5}_0 ? -p_5 ? break
c  in DIMACS:
 15 -16 -5 6 0


c  1-1 --> 0
c    (-b^{1, 5}_1 ?  b^{1, 5}_0 ? -p_5) -> (-b^{1, 6}_1 ? -b^{1, 6}_0)
c  in CNF:
c     b^{1, 5}_1 ? -b^{1, 5}_0 ?  p_5 ? -b^{1, 6}_1
c     b^{1, 5}_1 ? -b^{1, 5}_0 ?  p_5 ? -b^{1, 6}_0
c  in DIMACS:
 15 -16  5 -17 0
 15 -16  5 -18 0

c  0-1 --> -1
c    (-b^{1, 5}_1 ? -b^{1, 5}_0 ? -p_5) -> ( b^{1, 6}_1 ?  b^{1, 6}_0)
c  in CNF:
c     b^{1, 5}_1 ?  b^{1, 5}_0 ?  p_5 ?  b^{1, 6}_1
c     b^{1, 5}_1 ?  b^{1, 5}_0 ?  p_5 ?  b^{1, 6}_0
c  in DIMACS:
 15  16  5  17 0
 15  16  5  18 0

c  -1-1 --> break 
c    ( b^{1, 5}_1 ?  b^{1, 5}_0 ? -p_5) -> break
c  in CNF:
c    -b^{1, 5}_1 ? -b^{1, 5}_0 ?  p_5 ? break
c  in DIMACS:
-15 -16  5 6 0


c Disallowed combinations
c  0b100 represents a "negated" zero. Not a state.
c    -( b^{1, 5}_1 ? -b^{1, 5}_0 ? true) 
c  in CNF:
c    -b^{1, 5}_1 ?  b^{1, 5}_0 ? false 
c  in DIMACS:
-15  16  0

c INIT for k = 2
c    -b^{2, 1}_1
c    -b^{2, 1}_0
c  in DIMACS:
-19 0
-20 0

c Transitions for k = 2
c i = 1
c  -1+1 --> 0
c    ( b^{2, 1}_1 ?  b^{2, 1}_0 ?  p_2) -> (-b^{2, 2}_1 ? -b^{2, 2}_0)
c  in CNF:
c    -b^{2, 1}_1 ? -b^{2, 1}_0 ? -p_2 ? -b^{2, 2}_1
c    -b^{2, 1}_1 ? -b^{2, 1}_0 ? -p_2 ? -b^{2, 2}_0
c  in DIMACS:
-19 -20 -2 -21 0
-19 -20 -2 -22 0

c  0+1 --> 1
c    (-b^{2, 1}_1 ? -b^{2, 1}_0 ?  p_2) -> (-b^{2, 2}_1 ?  b^{2, 2}_0)
c  in CNF:
c     b^{2, 1}_1 ?  b^{2, 1}_0 ? -p_2 ? -b^{2, 2}_1
c     b^{2, 1}_1 ?  b^{2, 1}_0 ? -p_2 ?  b^{2, 2}_0
c  in DIMACS:
 19  20 -2 -21 0
 19  20 -2  22 0

c  1+1 --> break 
c    (-b^{2, 1}_1 ?  b^{2, 1}_0 ?  p_2) -> break
c  in CNF:
c     b^{2, 1}_1 ? -b^{2, 1}_0 ? -p_2 ? break
c  in DIMACS:
 19 -20 -2 6 0


c  1-1 --> 0
c    (-b^{2, 1}_1 ?  b^{2, 1}_0 ? -p_2) -> (-b^{2, 2}_1 ? -b^{2, 2}_0)
c  in CNF:
c     b^{2, 1}_1 ? -b^{2, 1}_0 ?  p_2 ? -b^{2, 2}_1
c     b^{2, 1}_1 ? -b^{2, 1}_0 ?  p_2 ? -b^{2, 2}_0
c  in DIMACS:
 19 -20  2 -21 0
 19 -20  2 -22 0

c  0-1 --> -1
c    (-b^{2, 1}_1 ? -b^{2, 1}_0 ? -p_2) -> ( b^{2, 2}_1 ?  b^{2, 2}_0)
c  in CNF:
c     b^{2, 1}_1 ?  b^{2, 1}_0 ?  p_2 ?  b^{2, 2}_1
c     b^{2, 1}_1 ?  b^{2, 1}_0 ?  p_2 ?  b^{2, 2}_0
c  in DIMACS:
 19  20  2  21 0
 19  20  2  22 0

c  -1-1 --> break 
c    ( b^{2, 1}_1 ?  b^{2, 1}_0 ? -p_2) -> break
c  in CNF:
c    -b^{2, 1}_1 ? -b^{2, 1}_0 ?  p_2 ? break
c  in DIMACS:
-19 -20  2 6 0


c Disallowed combinations
c  0b100 represents a "negated" zero. Not a state.
c    -( b^{2, 1}_1 ? -b^{2, 1}_0 ? true) 
c  in CNF:
c    -b^{2, 1}_1 ?  b^{2, 1}_0 ? false 
c  in DIMACS:
-19  20  0

c i = 2
c  -1+1 --> 0
c    ( b^{2, 2}_1 ?  b^{2, 2}_0 ?  p_4) -> (-b^{2, 3}_1 ? -b^{2, 3}_0)
c  in CNF:
c    -b^{2, 2}_1 ? -b^{2, 2}_0 ? -p_4 ? -b^{2, 3}_1
c    -b^{2, 2}_1 ? -b^{2, 2}_0 ? -p_4 ? -b^{2, 3}_0
c  in DIMACS:
-21 -22 -4 -23 0
-21 -22 -4 -24 0

c  0+1 --> 1
c    (-b^{2, 2}_1 ? -b^{2, 2}_0 ?  p_4) -> (-b^{2, 3}_1 ?  b^{2, 3}_0)
c  in CNF:
c     b^{2, 2}_1 ?  b^{2, 2}_0 ? -p_4 ? -b^{2, 3}_1
c     b^{2, 2}_1 ?  b^{2, 2}_0 ? -p_4 ?  b^{2, 3}_0
c  in DIMACS:
 21  22 -4 -23 0
 21  22 -4  24 0

c  1+1 --> break 
c    (-b^{2, 2}_1 ?  b^{2, 2}_0 ?  p_4) -> break
c  in CNF:
c     b^{2, 2}_1 ? -b^{2, 2}_0 ? -p_4 ? break
c  in DIMACS:
 21 -22 -4 6 0


c  1-1 --> 0
c    (-b^{2, 2}_1 ?  b^{2, 2}_0 ? -p_4) -> (-b^{2, 3}_1 ? -b^{2, 3}_0)
c  in CNF:
c     b^{2, 2}_1 ? -b^{2, 2}_0 ?  p_4 ? -b^{2, 3}_1
c     b^{2, 2}_1 ? -b^{2, 2}_0 ?  p_4 ? -b^{2, 3}_0
c  in DIMACS:
 21 -22  4 -23 0
 21 -22  4 -24 0

c  0-1 --> -1
c    (-b^{2, 2}_1 ? -b^{2, 2}_0 ? -p_4) -> ( b^{2, 3}_1 ?  b^{2, 3}_0)
c  in CNF:
c     b^{2, 2}_1 ?  b^{2, 2}_0 ?  p_4 ?  b^{2, 3}_1
c     b^{2, 2}_1 ?  b^{2, 2}_0 ?  p_4 ?  b^{2, 3}_0
c  in DIMACS:
 21  22  4  23 0
 21  22  4  24 0

c  -1-1 --> break 
c    ( b^{2, 2}_1 ?  b^{2, 2}_0 ? -p_4) -> break
c  in CNF:
c    -b^{2, 2}_1 ? -b^{2, 2}_0 ?  p_4 ? break
c  in DIMACS:
-21 -22  4 6 0


c Disallowed combinations
c  0b100 represents a "negated" zero. Not a state.
c    -( b^{2, 2}_1 ? -b^{2, 2}_0 ? true) 
c  in CNF:
c    -b^{2, 2}_1 ?  b^{2, 2}_0 ? false 
c  in DIMACS:
-21  22  0

